<launch>
   <node pkg="ros_homework" type="t4_lidar_point" name="lidar_point_creater" output="screen" />
   <node pkg="ros_homework" type="t4_tf_broadcaster" name="tf_broadcaster" output="screen" />
   <node pkg="ros_homework" type="t4_tf_listener" name="tf_listener" output="screen" />
   <node pkg="ros_homework" type="t4_final_listener" name="final_listener" output="screen" />
</launch>